*{
    /* outline: dashed red; */
    }

.posters{
    width: 343px;
    height: 508px;
    border: solid black 2px;  
    box-shadow: 5px 5px gray; 
}

#header{
    background-color: #b71c1c;
    outline: 4px solid #424242;
}
.title {
    background-color: #ef6c00;
    color: #ffd54f;
    outline: 4px solid #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.flamablanca {
    outline: solid #424242 5px;
    margin: 5px;
    margin-top: 5px;
   }

   .background {
    background-color: rgb(144, 46, 46);
   }

   h2 {
    background-color: black;
    color: whitesmoke;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    text-shadow: grey 0 4px;
    font-size: 35px;
   }